@charset "utf-8";
/* ===================================================================
CSS information

 file name  :import.css
 author     :yourName (admin)
 style info :各cssファイル読み込み用
=================================================================== */

/* default style - リセット及びbody基本設定
----------------------------------------------------------- */
@import url("default.css");

/* 共通のスタイル指定(ヘッダー、フッター)
----------------------------------------------------------- */
@import url("module.css");

/* all style
----------------------------------------------------------- */
@import url("style.css");

